@use '../../styles/base.scss';
@import '../../styles/mixins/transform.scss';
@import '../../styles/mixins/transition.scss';
@import '../../styles/mixins/userSelect.scss';

$margin-bottom: 2rem;

.hero {
    display: block;
    color: white;

    &__text {
        position: relative;
        z-index: 1;
        display: flex;
        flex: 1;
        flex-direction: column;
        margin-bottom: $margin-bottom;
        pointer-events: none;
    }

    &__next {
        position: absolute;
        z-index: 1;
        left: 50%;
        bottom: 23px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        height: auto;
        @include transform(translateX(-50%));

        &__item {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-end;
            height: auto;
            cursor: pointer;

            &__label {
                display: block;
            }

            &__arrow-down {
                position: relative;
                top: 6px;
                display: inline-block;
                height: 2px;
                width: 35px;
                margin-top: 13px;
                background-color: base.$srp-white-bg;
                @include transform(rotate(-90deg));
                // animation-name: bounce;
                // animation-duration: 1.5s;
                // animation-timing-function: ease-in-out;
                // animation-iteration-count: infinite;

                // &:before,
                // &:after {
                //     position: absolute;
                //     left: 10px;
                //     content: '';
                //     width: 10px;
                //     background-color: base.$srp-white-bg;
                // }

                // &:before {
                //     height: 2px;
                //     top: -3px;
                //     @include transform(rotate(-40deg));
                // }

                // &:after {
                //     height: 2px;
                //     top: 3px;
                //     @include transform(rotate(40deg));
                // }
            }
        }
    }
}

.site-pages {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    color: white;
    pointer-events: none;

    &__tile {
        position: relative;
        top: 0;
        display: flex;
        height: 0;
        width: 100%;
        padding-bottom: 100%;
        margin-bottom: 1rem;
        backdrop-filter: blur(10px);
        background-color: rgba(0, 0, 0, 0.75);
        border-radius: 10px;
        box-shadow: 0 0 3px 1px rgb(0 0 0 / 40%), 0 3px 10px 1px rgb(0 0 0 / 60%);
        overflow: hidden;
        pointer-events: initial;
        @include transition(top 200ms ease-in-out, transform 200ms ease-in-out, box-shadow 200ms ease-in-out);

        &:hover {
            @include transform(scale(0.98));
            box-shadow: 0 0 3px 1px rgb(0 0 0 / 20%), 0 3px 5px 1px rgb(0 0 0 / 60%);
        }

        // &#connect & {
        //     &__icon {
        //         // animation-name: connection;
        //         // animation-duration: 3s;
        //         // animation-timing-function: ease-in-out;
        //         // animation-iteration-count: infinite;
        //     }
        // }

        &:hover & {
            &__text {
                @include transform(translateX(10px));
            }
        }

        &:last-of-type {
            margin-bottom: 0;
        }

        &__content {
            position: absolute;
            z-index: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100%;
            width: 100%;
            padding: 1rem;
        }

        &__mega-title {
            position: absolute;
            z-index: 0;
            left: 60px;
            bottom: -50px;
            color: #4d4d4d;
            font-size: 9rem;
            opacity: 0.2;
            overflow: hidden;
            white-space: nowrap;
            @include userSelect(none);

            h1 {
                margin: 0;
            }
        }

        &__icon {
            position: relative;
            font-size: 8rem;
        }

        &__text {
            position: relative;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            height: auto;
            width: 100%;
            @include transition(all 200ms ease-in-out);

            h3 {
                margin: 0 10px 0 0;
            }

            h3,
            .icon-wrapper {
                font-size: 2rem;
                font-weight: 400;
            }
        }
    }

    @media screen and (min-width: 360px) {
        &__tile {
            padding-bottom: 75%;
        }
    }

    @media screen and (min-width: 400px) {
        &__tile {
            padding-bottom: 230px;
        }
    }

    @media screen and (min-width: 576px) {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;

        &__tile {
            width: calc(50% - 0.5rem);
            padding-bottom: 170px;

            &:nth-child(3),
            &:nth-child(4) {
                margin-bottom: 0;
            }

            &__icon {
                font-size: 5rem;
            }

            &__text {
                h3,
                .icon-wrapper {
                    font-size: 1.7rem;
                }
            }
        }
    }

    @media screen and (min-width: 992px) {
        &__tile {
            width: calc(25% - 0.5rem);
            padding-bottom: 200px;
            margin-bottom: 0;

            &:hover {
                top: -10px;
            }

            &__icon {
                font-size: 5.5rem;
            }
        }
    }

    @media screen and (min-width: 1200px) {
        &__tile {
            &__icon {
                font-size: 6rem;
            }
        }
    }
}

@keyframes bounce {
    0% {
        @include transform(rotate(-90deg));
    }

    50% {
        @include transform(translateY(5px) rotate(-90deg));
    }

    100% {
        @include transform(rotate(-90deg));
    }
}
