@use '../../../styles/_index.scss' as i;

.tooltip {
    position: relative;
    display: block;

    .tooltip__text {
        position: absolute;
        z-index: 1;
        display: none;
        visibility: hidden;
        min-width: 60px;
        width: auto;
        max-width: 200px;
        color: white;
        background-color: map-get(i.$srp-greys, 700);
        text-align: center;
        padding: 3px 5px;
        border-radius: 0.25rem;
        font-size: 0.85rem;
        opacity: 0;
        @include i.transition(opacity ease 200ms);

        &--top {
            @extend .tooltip__text;
            top: -150%;
        }
        &--left {
            @extend .tooltip__text;
            right: 105%;
        }
        &--right {
            @extend .tooltip__text;
            left: -105%;
        }

        @media screen and (min-width: 576px) {
            display: block;
        }
    }

    &:hover {
        .tooltip__text,
        .tooltip__text--left,
        .tooltip__text--right {
            visibility: visible;
            opacity: 1;
        }
    }
}
