@use '../../styles/base';
@import '../../styles/mixins/transition';

/*----------------------------------------*\
Header.scss

HEADER

- Header
- Containers & Wrappers
- @media
\*----------------------------------------*/

/*----------------------------------------*\
Header
\*----------------------------------------*/
#global-header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 120px;
  width: 100%;
  margin: 0px;
  color: base.$srp-black;
  background-color: base.$srp-white;
  z-index: 1000;
  @include transition(0.3s);
}

/*----------------------------------------*\
Containers & Wrappers
\*----------------------------------------*/
.header-content-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

/*----------------------------------------*\
@media
\*----------------------------------------*/
@media (min-width: 992px) {
  #global-header {
    color: base.$srp-white;
    background-color: transparent;
  }
}
