@use '../../styles/base';
@import '../../styles/mixins/transition';
@import '../../styles/mixins/transform';

//  Swap to translate3d to benefit from hardware accel
.repo-slide-container {
  display: grid;
  height: auto;
  width: auto;

  &> .repo-slide {
    grid-column-start: 1;
    grid-row-start: 1;
  }
}

.repo-slide {
  position: relative;
  display: block;
  min-width: 100%;
  z-index: 10;

  .repo {
    @include transition(0.3s);

    &:nth-child(1) {
      margin-top: 0px;
    }

    @for $i from 1 through 5 {
      &:nth-child(#{$i}) {
        animation-delay: $i * 0.05s;
      }
    }
  }

  &.start {
    z-index: 1;

    .repo {
      @include transform(translateX(-150%));
    }

    &.open {
      .repo {
        animation-name: slideIn;
        animation-duration: 0.6s;
        animation-timing-function: ease;
        animation-fill-mode: forwards;
      }
    }
  }

  &.reverse {
    z-index: 1;

    .repo {
      animation-name: slideOutLeft;
      animation-duration: 0.6s;
      animation-timing-function: ease;
      animation-fill-mode: forwards;
    }
  }

  &.close {
    z-index: 1;

    .repo {
      animation-name: slideOutRight;
      animation-duration: 0.6s;
      animation-timing-function: ease;
      animation-fill-mode: forwards;
    }
  }

  &.end {
    z-index: 1;

    .repo {
      @include transform(translateX(150%));
    }

    &.open {
      .repo {
        animation-name: slideIn;
        animation-duration: 0.6s;
        animation-timing-function: ease;
        animation-fill-mode: forwards;
      }
    }
  }
}

@keyframes slideIn {
  0% {
    opacity: 0;
  }

  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
}

@keyframes slideOutLeft {
  0% {}

  100% {
    -webkit-transform: translateX(-150%);
    transform: translateX(-150%);
  }
}

@keyframes slideOutRight {
  0% {}

  100% {
    opacity: 0;
    -webkit-transform: translateX(150%);
    transform: translateX(150%);
  }
}

.repo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
  width: 100%;
  border-style: none;
  padding: 8px 16px;
  box-sizing: border-box;
  border: 1px;
  border-style: solid;
  border-color: #00597d;
  color: #fff;
  background-color: base.$srp-blue;
  box-shadow: 1px 1px 3px #000;
  margin-top: 10px;
  @include transition(0.2s);

  &:hover {
    box-shadow: 2px 2px 3px #000;
    @include transform(scale(1.03));
  }

  h2 {
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin: 0px 0px 10px 0px;
    pointer-events: none;
  }

  @media screen and (min-width: 1376px) {
    height: 70px;
    flex-direction: row;
    align-items: center;

    h2 {
      margin: 0px;
    }
  }
}

.repo-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: auto;
  width: 100%;

  .info-wrapper {
    display: flex;
    flex-direction: row;
    height: auto;
    flex-grow: 1;
    padding-right: 30px;
    pointer-events: none;

    div:nth-of-type(2) {
      margin-left: 25px;
    }
  }

  .icons-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;

    a:nth-of-type(1) {
      padding-bottom: 10px;
    }

    i {
      cursor: pointer;
      font-size: 1.4em;
      @include transition(0.2s);
    }
    :hover {
      color: #171717;
    }
  }

  @media screen and (max-width: 350px) {
    .info-wrapper {
      padding-right: 10px;

      div:nth-of-type(2) {
        margin-left: 10px;
      }
    }
  }

  @media screen and (min-width: 500px) {
    .info-wrapper {
      div:nth-of-type(2) {
        margin-left: 50px;
      }
    }

    .icons-wrapper {
      display: flex;
      flex-direction: row;
      justify-content: center;

      a:nth-of-type(1) {
        padding-bottom: 0px;
        padding-right: 20px;
      }
    }
  }

  @media screen and (min-width: 700px) {
    .info-wrapper {
      div:nth-of-type(n) {
        display: flex;
        flex-direction: row;
      }

      div:nth-of-type(2) {
        margin-left: 50px;
      }

      div p:nth-of-type(2) {
        margin-left: 10px;
      }
    }
  }

  @media screen and (min-width: 768px) {
    .info-wrapper {
      div:nth-of-type(n) {
        display: flex;
        flex-direction: row;
      }

      div:nth-of-type(2) {
        margin-left: 60px;
      }

      div p:nth-of-type(2) {
        margin-left: 5px;
      }
    }
  }

  @media screen and (min-width: 1376px) {
    height: 100%;
    width: 60%;
  }

  @media screen and (min-width: 1692px) {
    width: 50%;
  }
}

.btn-wrapper {
  display: flex;
  flex-direction: row;
  height: auto;
  width: auto;

  &.disable {
    pointer-events: none;
    opacity: 0.5;

    .previous-btn, .next-btn {
      background-color: grey;
      border-color: grey;
    }
  }
}

.previous-btn, .next-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  margin-top: 10px;
  box-sizing: border-box;
  border-radius: 20px;
  border: 1px solid #00597d;
  color: #fff;
  background-color: base.$srp-blue;
  box-shadow: 1px 1px 3px #000;
  cursor: pointer;
  @include transition(0.2s);

  &:hover {
    color: #fff;
    background-color: #171717;
    border-color: #171717;
    @include transform(scale(0.97));
  }

  &.disable {
    pointer-events: none;
    opacity: 0.5;
    background-color: grey;
    border-color: grey;
  }
}

.next-btn {
  margin-left: 15px;
}
