$font-default: 'Heebo';

// Header Font Size Maps
$h1-font-sizes: (
    null: 2.75rem,
    mobile-medium: 3rem,
    small: 3.125rem,
);

$h2-font-sizes: (
    null: 2.25rem,
    mobile-medium: 2.375rem,
    small: 2.5rem,
);

$h3-font-sizes: (
    null: 1.75rem,
    mobile-medium: 1.875rem,
    small: 2rem,
);

$h4-font-sizes: (
    null: 1.4rem,
);

$h5-font-sizes: (
    null: 1.2rem,
);

$h6-font-sizes: (
    null: 1rem,
);

// Header Font Size Map
$header-font-sizes: (
    null: 1.25rem,
    small: 1.1rem,
);

// P Font Size Map
$p-font-sizes: (
    null: 0.9rem,
    mobile-medium: 1rem,
);

// Mixins
// --- Font Size Mixin
@mixin font-size($fs-map, $fs-breakpoints: $breakpoints) {
    @each $fs-breakpoint, $fs-font-size in $fs-map {
        @if $fs-breakpoint == null {
            font-size: $fs-font-size;
        } @else {
            @if map-has-key($fs-breakpoints, $fs-breakpoint) {
                $fs-breakpoint: map-get($fs-breakpoints, $fs-breakpoint);
            }
            @media screen and (min-width: $fs-breakpoint) {
                font-size: $fs-font-size;
            }
        }
    }
}

.uppercase {
    text-transform: uppercase;
}
