@use '../../../../styles/base';
@import '../../../../styles/typography/typography';
@import '../../../../styles/mixins/userSelect';

.h1,
.h2,
.h3,
.h4 {
    font-weight: 400;
    font-family: 'Heebo', sans-serif;
    text-transform: capitalize;
    color: base.$srp-white;
    margin: {
        top: 0;
        bottom: 0;
    }
    @include userSelect(none);

    &--bold {
        font-weight: bold;
    }

    &--underline {
        &::after {
            display: block;
            content: '';
            height: 2px;
            width: 75px;
            background-color: white;
            margin: {
                top: 10px;
                bottom: 18px;
            }
        }
    }

    &--space-out {
        letter-spacing: 3px;
    }
}

.h1 {
    @include font-size($h1-font-sizes, base.$breakpoints);
}

.h2 {
    @include font-size($h2-font-sizes, base.$breakpoints);
}

.h3 {
    @include font-size($h3-font-sizes, base.$breakpoints);
}

.h4 {
    @include font-size($h4-font-sizes, base.$breakpoints);
}
