@use 'base';
@import 'mixins/transition';

/*----------------------------------------*\
contact.scss

CONTACT

- Contact
- Containers
- Forms
- Buttons
- @media
\*----------------------------------------*/

/*----------------------------------------*\
Contact
\*----------------------------------------*/
#contact {
  color: base.$srp-white;
  background-color: base.$srp-black;
}

/*----------------------------------------*\
Containers
\*----------------------------------------*/
.contact-container {
  display: flex;
  flex-direction: column;
}

/*----------------------------------------*\
Forms
\*----------------------------------------*/
#contactForm {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
  margin-top: 30px;
}

#contactForm {
  .txt-input, textarea {
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    padding: 3px;
    box-sizing: border-box;
    margin: 5px 0px;
    border: 1px solid #000;
    border-radius: 4px;
    outline: none;
  }

  textarea {
    resize: none;
  }

  input {
    height: 36px;
  }

  input:focus, textarea:focus {
    border: 1px solid base.$srp-blue;
  }
}

/*----------------------------------------*\
Buttons
\*----------------------------------------*/
.form-btn {
  width: 100%;
  margin: 5px 0px;
  padding: 3px;
  box-sizing: border-box;
  border: 1px solid #171717;
  border-radius: 4px;
  background-color: #fff;
  cursor: pointer;
  @include transition(0.3s);
}

.form-btn:hover {
  color: base.$srp-blue;
  background-color: #d5d5d5;
  border: 1px solid base.$srp-blue;
}

/*----------------------------------------*\
@media
\*----------------------------------------*/
@media (min-width: 576px) {}

@media (min-width: 768px) {}

@media (min-width: 992px) {}

@media (min-width: 1200px) {}
