@use 'base';
@import 'mixins/transition';
@import 'mixins/transform';

#global-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0px;
  padding: 0.5em 1em;
  box-sizing: border-box;
  background-color: #171717;
}

.footer {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  position: relative;
  height: 100%;
  color: #d5d5d5;
}

.footer{
  ul {
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 0.8em;
    list-style: none;
    align-items: center;
    justify-content: space-between;
  }

  ul li a:hover {
    color: #fff!important;
  }
}

.footer-icon-wrapper {
  display: flex;
  height: auto;
  width: auto;
  align-items: center;
  justify-content: center;
  padding-bottom: 15px;
}

.footer-icon-wrapper {
  a {
    height: 32px;
    width: 32px;
    padding-left: 5px;
    padding-right: 5px;
    @include transition(0.2s);
  }

  a:hover {
    @include transform(scale(0.95));
  }
}

.footer-icon {
  height: 100%;
  width: 100%;
}

.footer-icon-text {
  display: flex;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding-bottom: 5px;
}


@media (min-width: 576px) {}

@media (min-width: 768px) {
  .footer {
    flex-direction: row;
  }

  .footer-icon-text {
    display: none;
  }

  .footer-icon-wrapper {
    padding-bottom: 0px;
    padding-left: 10px;
    justify-content: space-between;
  }

  .footer-icon-wrapper {
    a {
      height: 26px;
      width: 26px;
      padding-left: 10px;
      padding-right: 10px;
    }
  }

  .footer-icon-l {
    padding-right: 0px!important;
  }
}

@media (min-width: 992px) {
  .footer-icon-wrapper {
    padding-left: 15px;
  }

  .footer-icon-wrapper {
    a {
      height: 30px;
      width: 30px;
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}

@media (min-width: 1200px) {
  .footer-icon-wrapper {
    a {
      height: 32px;
      width: 32px;
    }
  }
}
