@use 'base';
@import 'mixins/transition';
@import 'mixins/transform';

.options-container {
  display: flex;
  flex-direction: column;
}

#portfolio {
  justify-content: flex-start;
}

#services {
  justify-content: center;
}

#contact {
  justify-content: flex-end;
  margin-bottom: 0px!important;
}

#portfolio, #services, #contact {
  justify-content: center;
}

#portfolio, #services {
  border-bottom: 3px solid #171717;
  padding-bottom: 60px;
}

.grid-square {
  display: flex;
  position: relative;
  height: 100%;
  width: 100%;
  margin-bottom: 60px;
}

.grid-square {
  a {
    display: flex;
    height: 100%;
    width: 75%;
    flex-direction: column;
    justify-content: center;
    @include transition(0.2s);
  }

  a:hover {
    @include transform(scale(0.95));
  }

  h2 {
    margin: 0.5em 0em 0em 0em;
    text-align: center;
    color: #171717;
  }

  img {
    height: 100%;
    width: 100%;
  }
}

/*  */
@media (min-width: 576px) {
  .options-container {
    flex-direction: row;
  }

  .grid-square {
    width: 33.333333%;
    margin-bottom: 0px;
  }

  .grid-square {
    a {
      width: 70%;
    }
  }

  #portfolio, #services {
    border-bottom: none;
    padding-bottom: 0px;
  }
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}

@media (min-width: 1368px) {
}
