@use 'base';
@import 'mixins/transition';
@import 'mixins/transform';

/*----------------------------------------*\
portfolio.scss

PORTFOLIO

- #'s
- Containers & Wrappers
- Alignments
- Images
- Buttons
- @media
\*----------------------------------------*/

/*----------------------------------------*\
#'s
\*----------------------------------------*/
#info {
  p {
    white-space: pre-line;
  }
}

/*----------------------------------------*\
Containers & Wrappers
\*----------------------------------------*/
.portfolio-content-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0px;
}

.portfolio-item-container {
  display: flex;
  flex-direction: column;
}

.wrapper-100, .wrapper-60, .wrapper-50, .wrapper-40 {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
}

.txt-wrapper {
  box-sizing: border-box;
  padding: 0px 0px 30px 0px;
}

.txt-wrapper {
  p {
    white-space: pre-line;
  }
}


/*----------------------------------------*\
Alignments
\*----------------------------------------*/
.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.align-center {
  text-align: center;
}

.align-left {
  article {
    align-items: flex-start;
  }
}

.align-right {
  article {
    align-items: flex-end;
  }
}

.align-center {
  article {
    align-items: center;
  }
}

/*----------------------------------------*\
Images
\*----------------------------------------*/
.portfolio-img {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  @include transition(0.2s);
}

.portfolio-img {
  a {
    bottom: 0px;
    left: -20px;
    height: auto;
    width: calc(100% + 20px);
    cursor: pointer;
  }

  img {
    max-height: 100%;
    width: 100%;
  }
}

/*----------------------------------------*\
Buttons
\*----------------------------------------*/
.info-btn-outer {
  height: auto;
  width: 100%;
}

.info-btn {
  display: flex;
  position: relative;
  justify-content: center;
  height: auto;
  width: inherit;
  font-size: 1em;
  border-style: none;
  box-sizing: border-box;
  border-radius: 5px;
  color: base.$srp-white;
  background-color: base.$srp-blue;
  padding: 6px 8px;
  font-family: 'Open Sans', sans-serif;
}

.info-btn {
  cursor: pointer;
  @include transition(0.2s);
}

.info-btn:hover, .info-btn-outer:hover {
  @include transform(scale(0.95));
}

.btn-arrow {
  padding-left: 6px;
}

/*----------------------------------------*\
@media
\*----------------------------------------*/
@media (min-width: 576px) {}

@media (min-width: 768px) {}

@media (min-width: 992px) {}

@media (min-width: 1200px) {
  .wrapper-60 {
    width: 60%;
  }

  .wrapper-50 {
    width: 50%;
  }

  .wrapper-40 {
    width: 40%;
  }

  .txt-wrapper {
    padding: 0px;
  }

  .align-right {
    flex-flow: row-reverse;
  }

  .align-left {
    flex-flow: row;
  }

  .align-center {
    article {
      box-sizing: border-box;
      padding-bottom: 30px;
    }
  }

  .align-right {
    article {
      box-sizing: border-box;
      padding-left: 10px;
    }
  }

  .align-left {
    article {
      box-sizing: border-box;
      padding-right: 10px;
    }
  }
}

@media (min-width: 1968px) {}
