@use 'base';

/*----------------------------------------*\
root.scss

ROOT

- Element Tags
- Container
- Sections
- Heights
- Padding
- Background Colors
- Content Colors
- @media
\*----------------------------------------*/


/*----------------------------------------*\
Element Tags
\*----------------------------------------*/
html {
  font-family: 'Open Sans', sans-serif;
  background-color: base.$srp-black;
}

body {
  height: auto;
  width: 100%;
  margin: 0px;
}

main {
  height: auto;
  width: 100%;
}

h1, h2, h3 {
  font-weight: 600;
}

p {
  font-size: 1em;
  margin: 0px;
}

a {
  text-decoration: none;
  content: inherit;
}

a:link, a:visited, a:hover  {
  color: inherit;
  background-color: transparent;
  text-decoration: none;
}

/*----------------------------------------*\
Container
\*----------------------------------------*/
.container {
  width: 90%;
}

/*----------------------------------------*\
Sections
\*----------------------------------------*/
.section-default {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0px;
}

.section-default {
  h1 {
    font-size: 1.8em;
    margin: 0px 0px 30px 0px;
    text-transform: uppercase;
    letter-spacing: 5px;
  }
}

/*----------------------------------------*\
Heights
\*----------------------------------------*/
.h-50 {
  height: 50vh;
}

.h-auto {
  height: auto;
}

/*----------------------------------------*\
Padding
\*----------------------------------------*/
.padding-default {
  padding: 8px 16px;
  box-sizing: border-box;
}

.padding-6016 {
  padding: 60px 16px;
  box-sizing: border-box;
}

/*----------------------------------------*\
Backgrounds Colors
\*----------------------------------------*/
.bg-white {
  background-color: base.$srp-white;
}

.bg-black {
  background-color: base.$srp-black;
}

/*----------------------------------------*\
Content Colors
\*----------------------------------------*/
.content-white {
  color: base.$srp-white;
}

.content-black {
  color: base.$srp-black;
}

/*----------------------------------------*\
@media
\*----------------------------------------*/
@media (min-width: 576px) {
  .container {
    width: 85%;
  }

  .section-default {
    h1 {
      font-size: 2em;
    }
  }
}

@media (min-width: 768px) {
  .container {
    width: 80%;
  }
}

@media (min-width: 992px) {
  .container {
    width: 75%;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 70%;
  }
}
