@use 'base';
@import 'mixins/transition';
@import 'mixins/transform';

#splash {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-image: url('../assets/pictures/splash-bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.splash-content-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  height: auto;
  margin: 0px;
  color: base.$srp-white;
  overflow: hidden;
}

.splash-content-container {
  h1 {
    width: 100%;
    margin: 0px;
    padding: 0px 0px 0.2em 0px;
    box-sizing: border-box;
    font-size: 1.6em;
    letter-spacing: 5px;
    text-transform: uppercase;
    @include transition(2.0s);
  }

  p {
    font-size: 1.1em;
    @include transition(2.0s);
  }
}

.splash-arrow-wrapper {
  display: flex;
  justify-content: center;
  height: 25px;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 15px;
}

.splash-down-arrow {
  display: flex;
  -webkit-animation: action 1s infinite alternate;
  animation: action 1s infinite  alternate;
}

.splash-down-arrow::before {
  content: '';
  position: relative;
  vertical-align: top;
  display: inline-block;
  height: 20px;
  width: 20px;
  border-style: solid;
  border-width: 0.25em 0.25em 0 0;
  @include transform(rotate(135deg));
}

@-webkit-keyframes action {
  0% { transform: translateY(0); }
  100% { transform: translateY(-10px); }
}
@keyframes action {
  0% { transform: translateY(0); }
  100% { transform: translateY(-10px); }
}

@media (min-width: 576px) {
  .splash-content-container {
    h1 {
      font-size: 2em;
      letter-spacing: 10px;
    }
  }

  .splash-arrow-wrapper {
    margin-top: 75px;
    margin-bottom: 25px;
  }

  .splash-down-arrow::before {
    height: 30px;
    width: 30px;
  }
}

@media (min-width: 768px) {
  .splash-content-container {
    p {
      font-size: 1.2em;
    }
  }
}

@media (min-width: 992px) {
  .splash-content-container {
    h1 {
      font-size: 2.5em;
    }

    p {
      font-size: 1.3em;
    }
  }
}

@media (min-width: 1200px) {
  .splash-content-container {
    h1 {
      letter-spacing: 15px;
    }
  }
}
