@use '../../styles/_index.scss' as i;
$margin-top: 1.125rem;

.section--lab {
    justify-content: center;
    padding: {
        top: 5rem;
        right: 1.5rem;
        bottom: 3.75rem;
        left: 3rem;
    }
}

.lab {
    position: relative;
    color: white;

    .timeline {
        top: -5rem;
        height: calc(100% + 8.75rem);
    }

    &__title {
        position: relative;
        margin: 0 0 1.5rem 3rem;
        text-transform: capitalize;
        text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
        @include i.userSelect(none);

        h1 {
            position: relative;
            z-index: 1;
            margin: 0;
            color: rgba(255, 255, 255, 0.85);
            font-size: 1.4rem;
            font-weight: 400;
            letter-spacing: 3px;
            line-height: normal;
        }

        &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: -30px;
            z-index: 11;
            height: 14px;
            width: 14px;
            border-radius: 100%;
            border: 2px solid i.$srp-accent-blue;
            background-color: #fff;
            @include i.transform(translate(0%, -65%));
        }

        .mega-title {
            position: absolute;
            z-index: 0;
            top: 50%;
            left: 60px;
            opacity: 0.4;
            overflow: hidden;
            white-space: nowrap;
            @include i.transform(translate(0%, -50%));

            h2 {
                margin: 0;
                color: #ff2534;
                font-size: 3rem;
                font-weight: 600;
                letter-spacing: 15px;
                line-height: normal;
            }
        }

        span {
            position: absolute;
            top: 50%;
            left: -24px;
            z-index: 11;
            height: 2px;
            width: 2px;
            background-color: transparent;
            @include i.transform(translate(0%, -50%));
        }
    }
}

.lab__github {
    position: relative;
    margin: 6rem 0 5rem 0;

    &__panel {
        $black: #202020;
        $grey: #dedede;

        flex-direction: column;
        width: 100%;
        border-radius: 5px;
        box-shadow: 0px 1px 4px 0px rgb(0 0 0 / 90%), 0px -1px 4px 0px rgb(0 0 0 / 90%);
        background-color: $black;
        overflow: hidden;

        &__tabs {
            position: relative;
            top: 0;
            display: flex;
            flex-direction: row;
            text-transform: capitalize;
        }

        &__tab {
            display: flex;
            flex-direction: row;
            align-items: center;
            height: auto;
            width: 50%;
            padding: 0.5rem 0.75rem;
            box-shadow: 0px 1px 2px 0px rgb(0 0 0 / 90%);
            background-color: #101010;
            overflow: hidden;
            @include i.transition(
                background-color 300ms cubic-bezier(0.7, 0.045, 0.33, 1),
                box-shadow 300ms cubic-bezier(0.7, 0.045, 0.33, 1)
            );

            &:first-child {
                border-right: 1px solid rgba(0, 0, 0, 0.5);
            }

            svg {
                position: relative;
                margin-bottom: 2px;
                @include i.transform(translate(0px, -30px));
            }

            &.active {
                box-shadow: 0px 0px 0px 0px rgb(0 0 0 / 90%);
                background-color: $black;

                svg {
                    @include i.transition(transform 300ms cubic-bezier(0.7, 0.045, 0.33, 1));
                    @include i.transform(translate(0px, 0px));

                    path {
                        fill: i.$srp-accent-red;
                    }
                }
            }

            p {
                padding-top: 2px;
                padding-right: 6px;
            }
        }

        &__content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            @include i.transition(max-height 800ms cubic-bezier(0.08, 0.09, 0.41, 0.66));

            &.isLoading {
                height: 300px;
                max-height: 300px;
            }

            &.loaded {
                height: initial;
                max-height: 1500px;
            }
        }

        &__repos {
            display: flex;
            flex-direction: column;
        }

        &__repo {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            height: auto;
            width: 100%;
            padding: 1rem 0.75rem;
            border-bottom: 1px solid rgba(0, 0, 0, 0.7);

            &__name {
                display: flex;
                flex-direction: row;
                align-items: center;
                @include i.userSelect(none);

                svg {
                    font-size: 1rem;
                    margin: 0 6px 1px 0;
                }

                h1 {
                    letter-spacing: 2px;
                    font-size: 1.25rem;
                    font-weight: 400;
                    margin: 0;
                }
            }

            &__icons {
                display: flex;
                flex-direction: row;

                a {
                    margin-left: 0.5rem;

                    &:first-of-type {
                        margin-left: 0;
                    }

                    svg {
                        pointer-events: none;
                        display: block;
                        font-size: 1.2rem;
                    }
                }
            }

            &__description {
                min-width: 100%;
                margin: 8px 0 0 0;
                color: $grey;
            }

            &__tags {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                min-width: 100%;
                margin-top: 8px;

                p {
                    font-size: 0.85rem;
                    color: $black;
                    margin: 4px 5px 0 0;
                    padding: 2px 10px 0 10px;
                    background: #fff;
                    border-radius: 10px;
                    box-shadow: 0 -1px 3px 0 rgb(0 0 0 / 40%), 0 1px 3px 0 rgb(0 0 0 / 40%);
                }
            }
        }

        &__btn {
            display: flex;
            flex-direction: row;
            justify-content: center;
            width: 100%;
            padding: 1rem 0.75rem;

            svg {
                margin: 3px 0 0 10px;
            }
        }
    }
}

.lab__flickr {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 4.1rem;

    .splide {
        &-wrapper {
            position: relative;

            #flickr-leader-line-bottom {
                position: absolute;
                bottom: 0;
                left: 24px;
                z-index: 11;
                height: 2px;
                width: 2px;
                background-color: i.$srp-accent-blue;
                @include i.transform(translate(0%, -50%));
            }
        }

        &__track {
            overflow: initial;
        }

        &__slide {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 295px;
            border-radius: 5px;
            box-shadow: 0px 2px 3px 0px rgb(0 0 0 / 90%), 1px 0px 4px 0px rgb(0 0 0 / 50%),
                -1px 0px 4px 0px rgb(0 0 0 / 50%);
            background-color: rgba(47, 47, 47, 0.4);
            overflow: hidden;

            img {
                height: 295px;
                width: auto;
                pointer-events: none;
            }

            &--more {
                align-items: center;
            }

            &__content {
                position: relative;
                z-index: 1;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                height: 100%;
                width: 100%;
                text-align: center;
                overflow: hidden;

                svg {
                    height: auto;
                    min-width: 30%;
                }

                p {
                    position: absolute;
                    bottom: 1rem;
                    color: i.$srp-accent-red;
                }
            }
        }

        &__pagination {
            li {
                margin: 0 5px;
                &:first-of-type {
                    margin-left: 0;
                }
                &:last-of-type {
                    margin-right: 0;
                }

                button {
                    height: 4px;
                    width: 20px;
                    box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.7);
                    cursor: pointer;

                    &.is-active {
                        background-color: i.$srp-accent-blue;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: i.$bp-mobile) {
    .lab__github {
        &__panel {
            &__content {
                @include i.transition(max-height 1000ms cubic-bezier(0.08, 0.09, 0.41, 0.66));
            }

            &__repo {
                &__name {
                    h1 {
                        font-size: 1.25rem;
                    }
                }

                &__icons {
                    a {
                        svg {
                            font-size: 1.3rem;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: i.$bp-xsmall) {
    .lab__flickr {
        .glide {
            overflow: initial;
        }
    }

    .lab__github {
        &__panel {
            &__content {
                @include i.transition(max-height 1400ms cubic-bezier(0.08, 0.09, 0.41, 0.66));
            }

            &__repo {
                &__icons {
                    a {
                        margin-left: 0.8rem;

                        svg {
                            font-size: 1.4rem;
                        }
                    }
                }
            }
        }
    }
}

// Pointer enabled
@media (hover) {
    .lab__flickr {
        .splide {
            &__slide__content {
                // do a more sophisticate animation
                svg path {
                    @include i.transition(fill 300ms cubic-bezier(0.51, 0.03, 0.21, 1));
                }

                &:hover {
                    svg {
                        path {
                            fill: i.$srp-accent-blue;
                        }
                    }
                }
            }
        }
    }

    .lab__github {
        &__panel {
            &__tab {
                svg {
                    @include i.transition(transform 300ms cubic-bezier(0.7, 0.045, 0.33, 1));
                    @include i.transform(translate(0px, -30px));

                    path {
                        fill: i.$srp-accent-red;
                    }
                }

                &:hover {
                    svg {
                        @include i.transition(transform 300ms cubic-bezier(0.7, 0.045, 0.33, 1));
                        @include i.transform(translate(0px, 0px));
                    }
                }
            }

            &__repo {
                &__name {
                    h1,
                    svg {
                        @include i.transition(transform 250ms cubic-bezier(0.7, 0.045, 0.33, 1));
                    }

                    svg path {
                        @include i.transition(fill 300ms cubic-bezier(0.7, 0.045, 0.33, 1));
                    }
                }

                &:hover & {
                    &__name {
                        h1 {
                            @include i.transform(translate(20px, 0px));
                        }

                        svg {
                            @include i.transform(translate(10px, 0px));

                            path {
                                fill: i.$srp-accent-red;
                            }
                        }
                    }
                }
            }

            &__btn {
                svg {
                    @include i.transition(transform 250ms cubic-bezier(0.7, 0.045, 0.33, 1));
                }

                svg path {
                    @include i.transition(fill 300ms cubic-bezier(0.7, 0.045, 0.33, 1));
                }

                &:hover {
                    svg {
                        @include i.transform(translate(10px, 0px));

                        path {
                            fill: i.$srp-accent-red;
                        }
                    }
                }
            }
        }
    }
}
