@use '../../styles/base';
@import '../../styles/mixins/transition';
@import '../../styles/mixins/transform';

/*----------------------------------------*\
Splash.scss

SPLASH

- Splash
- Containers
- Text
- General
- @keyframes
- @media
\*----------------------------------------*/

/*----------------------------------------*\
Splash
\*----------------------------------------*/
#splash {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background: linear-gradient(-30deg, #fd6f43, #e94d8a, #23a6d5, #20c49d);
  background-size: 400% 400%;
  animation: BGslide 12s ease-in-out infinite;
  overflow: hidden;
}

@keyframes BGslide {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0 50%;
  }
}

/*----------------------------------------*\
Containers
\*----------------------------------------*/
.splash-content-container {
  display: flex;
  flex-direction: column;
  position: relative;
  height: auto;
  margin: 0px;
  color: base.$srp-white;
}

/*----------------------------------------*\
Text
\*----------------------------------------*/
.splash-content-container {
  h1, p {
    @include transition(2.0s);
  }

  h1 {
    height: auto;
    width: 100%;
    margin: 0px;
    padding: 0px 0px 0.2em 0px;
    box-sizing: border-box;
    font-size: 1.6em;
    letter-spacing: 5px;
    text-transform: uppercase;
  }

  p {
    font-size: 1.1em;
  }
}

/*----------------------------------------*\
General
\*----------------------------------------*/
.splash-arrow-wrapper {
  display: flex;
  justify-content: center;
  height: 25px;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 15px;
}

.splash-down-arrow {
  -webkit-animation: action 1s infinite alternate;
  animation: action 1s infinite  alternate;
}

.splash-down-arrow::before {
  content: '';
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  border-style: solid;
  border-width: 0.25em 0.25em 0 0;
  @include transform(rotate(135deg));
}

/*----------------------------------------*\
@keyframes
\*----------------------------------------*/
@-webkit-keyframes action {
  0% { @include transform(translateY(0)); }
  100% { @include transform(translateY(-10px)); }
}

@keyframes action {
  0% { @include transform(translateY(0)); }
  100% { @include transform(translateY(-10px)); }
}

/*----------------------------------------*\
@media
\*----------------------------------------*/
@media (min-width: 576px) {
  .splash-content-container {
    h1 {
      font-size: 2em;
      letter-spacing: 10px;
    }
  }

  .splash-arrow-wrapper {
    margin-top: 75px;
    margin-bottom: 25px;
  }

  .splash-down-arrow::before {
    height: 30px;
    width: 30px;
  }
}

@media (min-width: 768px) {
  .splash-content-container {
    p {
      font-size: 1.2em;
    }
  }
}

@media (min-width: 992px) {
  .splash-content-container {
    h1 {
      font-size: 2.5em;
    }

    p {
      font-size: 1.3em;
    }
  }
}

@media (min-width: 1200px) {
  .splash-content-container {
    h1 {
      letter-spacing: 15px;
    }
  }
}
