@use '../base/_breakpoints.scss' as bp;
@use '../base/_colors.scss' as col;
@use '../mixins/transform.scss' as *;
@use '../mixins/userSelect.scss' as *;

.timeline {
    position: absolute;
    left: -1.5rem;
    z-index: 10;
    width: 2px;
    background-color: #0080b0;

    &__title {
        position: relative;
        margin-bottom: 5rem;

        &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: -30px;
            z-index: 11;
            height: 14px;
            width: 14px;
            border-radius: 100%;
            border: 2px solid #0080b0;
            background-color: #fff;
            @include transform(translate(0%, -50%));
        }

        h2 {
            margin: 0;
            color: col.$text-secondary-color;
            font-size: 1rem;
            font-weight: 400;
            letter-spacing: 3px;
            line-height: initial;
        }

        .mega-title {
            position: absolute;
            z-index: 0;
            top: 50%;
            left: 60px;
            color: #cacaca;
            font-size: 8rem;
            opacity: 0.2;
            overflow: hidden;
            white-space: nowrap;
            @include transform(translate(0%, -50%));
            @include userSelect(none);

            h1 {
                line-height: initial;
                margin: 0;
            }
        }
    }
}

@media screen and (min-width: bp.$bp-xsmall) {
}
