@use '../../styles/base.scss' as b;
@use '../../styles/typography/typography.scss' as *;
@use '../../styles/mixins/transition.scss' as *;
@use '../../styles/mixins/transform.scss' as *;
@use '../../styles/mixins/userSelect.scss' as *;

$bp-mobile: map-get(b.$breakpoints, 'mobile');
$bp-xsmall: map-get(b.$breakpoints, 'xsmall');
$bp-small: map-get(b.$breakpoints, 'small');
$bp-medium: map-get(b.$breakpoints, 'medium');
$bp-large: map-get(b.$breakpoints, 'large');
$bp-xlarge: map-get(b.$breakpoints, 'xlarge');
$padding: 1.5rem;
$margin: 0.8rem;

.portfolio {
    position: relative;
    display: flex;
    flex-direction: column;
    height: auto;
    color: white;
    // overflow: hidden;

    &__title {
        margin-top: 30px;
        h2 {
            font-weight: 400;
            text-transform: uppercase;
            margin: 0;
        }
    }

    &__mega-title {
        position: absolute;
        z-index: 0;
        top: -55px;
        left: 60px;
        color: #cacaca;
        font-size: 9rem;
        opacity: 0.2;
        overflow: hidden;
        white-space: nowrap;
        @include userSelect(none);

        h1 {
            line-height: initial;
            margin: 0;
        }
    }

    &__container {
        position: relative;
        display: flex;
        flex-direction: column;
    }
}

.panel {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    height: auto;
    width: 100%;
    margin-top: 3rem;

    &--ar-1 &,
    &--ar-2 &,
    &--ar-3 &,
    &--ar-4 & {
        &__image {
            $width: calc(100% - #{3 * $padding});
            width: $width;
            padding-bottom: calc(#{$width} / 2 * 3);
        }
    }

    &__image {
        position: relative;
        z-index: 0;
        height: 0;
        border-radius: 5px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        box-shadow: 0px 6px 20px 0px rgb(0 0 0 / 75%);
        overflow: hidden;

        &:before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            display: block;
            height: 100%;
            width: 100%;
            background: linear-gradient(40deg, rgba(0, 0, 0, 0.8), transparent 60%);
        }
    }

    &__content {
        position: absolute;
        z-index: 1;
        height: auto;
        width: 100%;
        padding: $padding $padding $margin 0;
        @include userSelect(none);

        &__title {
            position: relative;
            width: max-content;
            max-width: 100%;
            margin: 0 0 $margin 0;
            font-size: 1.4rem;
            font-weight: 400;
            text-shadow: 0 1px 15px #000;

            &::after {
                content: '';
                position: absolute;
                bottom: 0;
                display: block;
                height: 4px;
                width: 100%;
                background-color: #0080b3;
            }
        }

        &__taster,
        &__tag {
            width: max-content;
            max-width: 100%;

            span {
                display: inline;
                margin: 0 0 $margin 0;
                background: rgba(0, 0, 0, 0.6);
                box-decoration-break: clone;
            }
        }

        &__taster {
            display: none;
            span {
                padding: 2px 0;
                box-shadow: 0.5rem 0 0 rgba(0, 0, 0, 0.6), -0.5rem 0 0 0 rgba(0, 0, 0, 0.6);
            }
        }

        &__tag {
            span {
                padding: 4px;
                border-radius: 5px;
                box-shadow: 0 0 0 rgba(0, 0, 0, 0.6), 0 0 0 rgba(0, 0, 0, 0.6);
            }
        }
    }

    &__button {
        display: inline-flex;
        align-items: center;
        height: 35px;
        width: auto;
        padding: 0.5rem 0.75rem;
        border-radius: 5px;
        background-color: #0080b3;
        box-shadow: 0 0 8px 0 rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 25%), 0 2px 5px 0 rgb(0 0 0 / 17%);
        white-space: nowrap;
        @include font-size($p-font-sizes, b.$breakpoints);

        &::before {
            content: 'Learn More';
            position: relative;
            display: inline-block;
            margin-right: 5px;
        }
    }
}

//  Breakpoints
@media screen and (min-width: $bp-mobile) {
    $margin: 1rem;
    $padding: 1.5rem;

    .panel {
        &--ar-1 &,
        &--ar-2 &,
        &--ar-3 &,
        &--ar-4 & {
            &__image {
                $width: calc(100% - #{4 * $padding});
                width: $width;
                padding-bottom: calc(#{$width} / 2 * 3);
            }
        }

        &__content {
            padding: $padding $padding $padding 0;

            &__title {
                margin: 0 0 $margin 0;
                font-size: 1.5rem;
            }

            &__taster,
            &__tag {
                margin: 0 0 $margin 0;
            }
        }
    }
}

@media screen and (min-width: $bp-xsmall) {
    $margin: 1rem;
    $padding: 1.5rem;

    .portfolio__container {
        align-items: center;
    }

    .panel {
        &--ar-1,
        &--ar-2,
        &--ar-3,
        &--ar-4 {
            $width: 475px;
            width: $width;
        }
        &--ar-1 & {
            &__image {
                $width: 330px;
                width: $width;
                padding-bottom: calc(#{$width} / 4 * 5);
            }
        }

        &--ar-2 & {
            &__image {
                $width: 330px;
                width: $width;
                padding-bottom: calc(#{$width} / 2 * 3);
            }
        }

        &--ar-3 & {
            &__image {
                $width: 400px;
                width: $width;
                padding-bottom: calc(#{$width} / 3 * 2.5);
            }
        }

        &--ar-4 & {
            &__image {
                $width: 400px;
                width: $width;
                padding-bottom: calc(#{$width} / 16 * 9);
            }
        }

        &__content {
            &__taster {
                display: block;
            }

            &__tag {
                display: none;
            }
        }
        &__button {
            padding: 0.6rem 1rem;
        }
    }
}

@media screen and (min-width: $bp-small) {
    .portfolio__container {
        align-items: initial;
    }

    #deduction {
        margin: 4rem auto 0 -2rem;
    }
    #letterdetonator {
        margin: -3rem -2rem 0 auto;
    }
    #karensbeautybox {
        margin: 1rem auto 0 -2rem;
    }
    #peerreviewportal {
        margin: -3rem -2rem 0 auto;
    }
    #pudhub {
        margin: 1rem auto 0 -2rem;
    }
    #robotics {
        margin: -3rem -2rem 0 auto;
    }
    #distributedsystems {
        margin: 1rem auto 0 -2rem;
    }
    #literaturereview {
        margin: -3rem -2rem 0 auto;
    }
}

@media screen and (min-width: $bp-medium) {
    #deduction {
        margin: 4rem auto 0 -4rem;
    }
    #letterdetonator {
        margin: -12rem -4rem 0 auto;
    }
    #karensbeautybox {
        margin: 1rem auto 0 -4rem;
    }
    #peerreviewportal {
        margin: -13rem -4rem 0 auto;
    }
    #pudhub {
        margin: 1rem auto 0 -4rem;
    }
    #robotics {
        margin: -7rem -4rem 0 auto;
    }
    #distributedsystems {
        margin: 1rem auto 0 -4rem;
    }
    #literaturereview {
        margin: -12rem -4rem 0 auto;
    }
}

@media screen and (min-width: $bp-large) {
    #deduction {
        margin: 4rem auto 0 -8rem;
    }
    #letterdetonator {
        margin: -12rem -8rem 0 auto;
    }
    #karensbeautybox {
        margin: -10rem auto 0 -3rem;
    }
    #peerreviewportal {
        margin: -7rem -5rem 0 auto;
    }
    #pudhub {
        margin: -14rem auto 0 -8rem;
    }
    #robotics {
        margin: 3rem auto 0 auto;
    }
    #distributedsystems {
        margin: 3rem -6rem 0 auto;
    }
    #literaturereview {
        margin: -14rem auto 0 -8rem;
    }
}

@media screen and (min-width: 1376px) {
    #karensbeautybox {
        margin: -8rem auto 0 4rem;
    }
    #peerreviewportal {
        margin: -7rem -4rem 0 auto;
    }
    #pudhub {
        margin: -13rem auto 0 -8rem;
    }
    #robotics {
        margin: 3rem 4rem 0 auto;
    }
    #distributedsystems {
        margin: 5rem -8rem 0 auto;
    }
    #literaturereview {
        margin: -28rem auto 0 -8rem;
    }
}

@media screen and (min-width: $bp-xlarge) {
    #deduction {
        margin: 4rem auto 0 -12rem;
    }
    #letterdetonator {
        margin: -12rem -12rem 0 auto;
        z-index: 3;
    }
    #karensbeautybox {
        margin: -12rem auto 0 auto;
        z-index: 2;
    }
    #peerreviewportal {
        margin: 0 -12rem 0 auto;
        z-index: 3;
    }
    #pudhub {
        margin: -20rem auto 0 auto;
        z-index: 2;
    }
    #robotics {
        margin: -30rem auto 0 -12rem;
    }
    #distributedsystems {
        margin: 18rem auto 0 30rem;
    }
    #literaturereview {
        margin: -21rem auto 0 -12rem;
    }
}

@media (hover) {
    .panel {
        &__image {
            @include transition(all 500ms ease);
        }

        &__content {
            pointer-events: none;
            @include transform(translate(0, calc(100% - 4.8rem)));
            @include transition(transform 500ms ease);
            transition-delay: 325ms;

            &__title {
                &::after {
                    width: 0%;
                    @include transition(width 450ms ease);
                    transition-delay: 325ms;
                }
            }

            &__taster,
            &__tag {
                opacity: 0;
                @include transition(opacity 300ms ease);
            }
        }

        &__button {
            width: 0;
            padding: 0;
            overflow: hidden;
            @include transition(width 300ms ease, padding 300ms ease);
        }

        &:hover & {
            &__image {
                box-shadow: 0px 10px 25px 0px rgb(0 0 0 / 90%);
            }

            &__content {
                pointer-events: initial;
                @include transform(translate(0, 0));
                @include transition(transform 500ms ease);

                &__title {
                    &::after {
                        width: 100%;
                        @include transition(width 450ms ease);
                    }
                }

                &__taster,
                &__tag {
                    opacity: 1;
                    @include transition(opacity 300ms ease);
                    transition-delay: 475ms;
                }
            }

            &__button {
                width: 132px;
                padding: 0.5rem 0.75rem;
                @include transition(width 300ms ease, padding 300ms ease);
                transition-delay: 475ms;
            }
        }
    }
}

// focus-within on hover things for keyboard users
