@use '../../styles/base';
@import '../../styles/mixins/transition';
@import '../../styles/mixins/transform';

/*----------------------------------------*\
PortfolioView.scss

PORTFOLIO VIEW

- #'s
- Containers & Wrappers
- Images
- Buttons
- @media
\*----------------------------------------*/

/*----------------------------------------*\
#'s
\*----------------------------------------*/
#info {
  p {
    white-space: pre-line;
  }
}

/*----------------------------------------*\
Containers & Wrappers
\*----------------------------------------*/
.portfolio-item-container {
  display: flex;
  flex-direction: column;
}

/*----------------------------------------*\
Images
\*----------------------------------------*/
.portfolio-img {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  @include transition(0.2s);
}

.portfolio-img {
  a {
    bottom: 0px;
    left: -20px;
    height: auto;
    width: calc(100% + 20px);
    cursor: pointer;
  }

  img {
    max-height: 100%;
    width: 100%;
  }
}

/*----------------------------------------*\
Buttons
\*----------------------------------------*/
.info-btn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;

  :nth-child(1) {
    margin-top: 0px;
  }

  a {
    margin-top: 15px;
  }
}

.info-btn-outer {
  height: auto;
  width: 100%;
}

.info-btn {
  display: flex;
  position: relative;
  justify-content: center;
  height: auto;
  width: inherit;
  font-size: 1em;
  border-style: none;
  box-sizing: border-box;
  border-radius: 5px;
  color: base.$srp-white;
  background-color: base.$srp-blue;
  padding: 6px 8px;
  font-family: 'Open Sans', sans-serif;
}

.info-btn {
  cursor: pointer;
  @include transition(0.2s);
}

.info-btn:hover, .info-btn-outer:hover {
  @include transform(scale(0.98));
}

.btn-arrow {
  padding-left: 6px;
}

/*----------------------------------------*\
temp
\*----------------------------------------*/
#list-two.hide {
  display: none;
}

@media (min-width: 768px) {
  .info-btn-container {
    width: 30%;
  }
}
