.section {
    display: flex;
    width: 100%;
    margin: 0;

    &--top {
        min-height: 100vh;
        padding: 8.75rem 1rem 3.75rem 1rem;
    }

    &--default {
        padding: 3.75rem 1rem 3.75rem 1rem;
    }

    &--center-center {
        align-items: center;
        justify-content: center;
    }

    &--end-center {
        align-items: flex-end;
        justify-content: center;
    }
}
