.section {
    display: flex;
    width: 100%;
    margin: 0;
    padding: 60px 16px;

    &--center-center {
        align-items: center;
        justify-content: center;
    }

    &--end-center {
        align-items: flex-end;
        justify-content: center;
    }
}
