@use '../../styles/base.scss';
@import '../../styles/mixins/transition.scss';

.connect {
    color: white;

    &__content {
        position: relative;
        padding: 1rem;
        border-radius: 10px;
        backdrop-filter: blur(10px);
        background-color: rgba(0, 0, 0, 0.75);
        box-shadow: 0 0 3px 1px rgb(0 0 0 / 20%), 0 3px 10px 0 rgb(0 0 0 / 60%);

        &__icon-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            height: auto;
            width: 100%;
            margin: 1.125rem 0;

            .icon-wrapper {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 33.333333%;
                font-size: 3rem;

                &:nth-child(4),
                &:nth-child(5),
                &:nth-child(6) {
                    margin-top: 1.125rem;
                }

                &:nth-child(1),
                &:nth-child(4) {
                    justify-content: flex-start;
                }

                &:nth-child(3),
                &:nth-child(6) {
                    justify-content: flex-end;
                }

                a {
                    position: relative;
                    display: flex;

                    svg path {
                        fill: white;
                        @include transition(fill ease-out 200ms);
                    }

                    &:hover {
                        svg path {
                            fill: base.$srp-accent-blue;
                        }
                    }
                }
            }
        }

        p:first-of-type {
            margin-bottom: 1rem;
        }

        @media screen and (min-width: 576px) {
            &__icon-container {
                flex-wrap: initial;

                .icon-wrapper {
                    width: auto;
                    margin: 0;

                    &:nth-child(4),
                    &:nth-child(5),
                    &:nth-child(6) {
                        margin-top: 0;
                    }

                    &:nth-child(n) {
                        justify-content: center;
                    }
                }
            }
        }

        @media screen and (min-width: 992px) {
            &__icon-container {
                .icon-wrapper {
                    font-size: 3.5rem;
                }
            }
        }
    }
}
