@use '../../styles/base.scss';
@import '../../styles/mixins/transition.scss';

.connect {
    color: white;

    &__content {
        &__icon-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            height: auto;
            width: 100%;
            margin: 18px 0;

            .icon-wrapper {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 33.333333%;
                font-size: 48px;

                &:nth-child(4),
                &:nth-child(5),
                &:nth-child(6) {
                    margin-top: 18px;
                }

                &:nth-child(1),
                &:nth-child(4) {
                    justify-content: flex-start;
                }

                &:nth-child(3),
                &:nth-child(6) {
                    justify-content: flex-end;
                }

                a {
                    position: relative;
                    display: flex;

                    svg path {
                        fill: white;
                        @include transition(fill ease-out 200ms);
                    }

                    &:hover {
                        svg path {
                            fill: base.$srp-accent-blue;
                        }
                    }
                }
            }
        }

        @media screen and (min-width: 576px) {
            &__icon-container {
                flex-wrap: initial;

                .icon-wrapper {
                    width: auto;
                    margin: 0;

                    &:nth-child(4),
                    &:nth-child(5),
                    &:nth-child(6) {
                        margin-top: 0;
                    }

                    &:nth-child(n) {
                        justify-content: center;
                    }
                }
            }
        }

        @media screen and (min-width: 992px) {
            &__icon-container {
                .icon-wrapper {
                    font-size: 56px;
                }
            }
        }
    }
}
