@use '../../styles/base.scss';

.connect {
    min-height: 100vh;
    padding-top: 140px;
    color: white;

    &__content {
        &__icon-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            height: auto;
            width: 100%;

            a {
                width: 33.333333%;
                margin-top: 18px;

                .icon-wrapper {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    font-size: 48px;
                }
            }
        }

        @media screen and (min-width: 768px) {
            &__icon-container {
                flex-wrap: initial;
                margin-top: 18px;

                a {
                    width: auto;
                    margin-top: 0;

                    .icon-wrapper {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 100%;
                        font-size: 64px;
                    }
                }
            }
        }
    }
}
