@use '../../styles/base';
@import '../../styles/mixins/transition';
@import '../../styles/mixins/transform';

/*----------------------------------------*\
Footer.scss

FOOTER

- Footer
- Containers & Wrappers
- Text
- @media
\*----------------------------------------*/

/*----------------------------------------*\
Footer
\*----------------------------------------*/
#global-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  width: 100%;
  margin: 0px;
  padding: 0.5em 1em;
  box-sizing: border-box;
  background-color: base.$srp-black;
}

/*----------------------------------------*\
Containers & Wrappers
\*----------------------------------------*/
.footer-content-container {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  position: relative;
  height: 100%;
  color: base.$srp-footer-txt-color;
}

/*----------------------------------------*\
Text
\*----------------------------------------*/
.footer-icon-text {
  display: flex;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding-bottom: 5px;
}

/*----------------------------------------*\
@media
\*----------------------------------------*/
@media (min-width: 768px) {
  #global-footer {
    height: 80px;
  }

  .footer-content-container {
    flex-direction: row;
  }

  .footer-icon-text {
    display: none;
  }
}
