@use '../../styles/base';
@import '../../styles/typography/typography', '../../styles/mixins/transition.scss',
    '../../styles/mixins/transform.scss';

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
    margin: 0;
    padding: 24px 16px;
    background-color: map-get(base.$srp-greys, 900);

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;

        &::before {
            content: '';
            display: block;
            height: 2px;
            width: 100%;
            background-color: base.$srp-accent-blue;
            margin-bottom: 22px;
        }

        &__label {
            padding-bottom: 5px;
        }

        &__icons-container {
            display: flex;
            flex-direction: row;
            justify-content: center;
            height: auto;
            width: 100%;
            padding-bottom: 22px;

            .icon-wrapper {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                height: auto;
                margin: 0;
                padding: 0px 8px;
                font-size: 24px;

                svg path {
                    fill: white;
                    @include transition(fill ease-out 200ms);
                }

                &:hover {
                    svg path {
                        fill: base.$srp-accent-blue;
                    }
                }
            }
        }

        &__links-container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            height: auto;
            width: 100%;
            color: white;

            a {
                text-transform: uppercase;
                font-size: 0.75rem;
                letter-spacing: 2px;
                @include transition(color ease-out 200ms);

                &:hover {
                    color: base.$srp-accent-blue;
                }
            }
        }
    }

    @media screen and (min-width: 576px) {
        &__content {
            &__links-container {
                a {
                    font-size: 0.8rem;
                }
            }
        }
    }

    @media screen and (min-width: 768px) {
        &__content {
            justify-content: space-between;
            flex-direction: row-reverse;
            flex-wrap: wrap;

            &__label {
                display: none;
            }

            &__icons-container {
                justify-content: space-between;
                width: 30%;
                padding: 0;

                .icon-wrapper {
                    padding: 0;
                    font-size: 20px;
                }
            }

            &__links-container {
                width: 55%;
            }
        }
    }

    @media screen and (min-width: 992px) {
        &__content {
            &__icons-container {
                width: 25%;
            }

            &__links-container {
                width: 50%;
            }
        }
    }

    @media screen and (min-width: 1200px) {
        &__content {
            &__icons-container {
                width: 23%;
            }

            &__links-container {
                width: 45%;
            }
        }
    }

    @media screen and (min-width: 1576px) {
        &__content {
            &__icons-container {
                width: 20%;
            }

            &__links-container {
                width: 40%;
            }
        }
    }
}
