@use '../../styles/base';
@import '../../styles/mixins/transition';
@import '../../styles/mixins/transform';

/*----------------------------------------*\
Icons.scss

ICONS

- Containers & Wrappers
- @media
\*----------------------------------------*/

/*----------------------------------------*\
Containers & Wrappers
\*----------------------------------------*/
.footer-icon-container {
  display: flex;
  height: auto;
  width: auto;
  align-items: center;
  justify-content: center;
  padding-bottom: 15px;

  a {
    height: 32px;
    width: 32px;
    padding-left: 5px;
    padding-right: 5px;
    @include transition(0.2s);
  }

  a:hover {
    @include transform(scale(0.95));
  }

  :first-child {
    padding-left: 0px;
  }

  :last-child {
    padding-right: 0px;
  }

  img {
    height: inherit;
    width: inherit;
  }
}

/*----------------------------------------*\
@media
\*----------------------------------------*/
@media (min-width: 768px) {
  .footer-icon-container {
    padding-bottom: 0px;
    padding-left: 20px;
    justify-content: space-between;

    a {
      height: 26px;
      width: 26px;
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}

@media (min-width: 1200px) {
  .footer-icon-container {
    padding-left: 25px;

    a {
      height: 28px;
      width: 28px;
    }
  }
}

@media (min-width: 1576px) {
  .footer-icon-container {
    padding-left: 30px;

    a {
      height: 30px;
      width: 30px;
    }
  }
}
