@use '../../styles/base';
@import '../../styles/mixins/transition';

/*----------------------------------------*\
Links.scss

LINKS

- Containers & Wrappers
- @media
\*----------------------------------------*/

/*----------------------------------------*\
Containers & Wrappers
\*----------------------------------------*/
.footer-link-container {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0px;
  padding: 0px;
  font-size: 0.9em;
  overflow: hidden;

  ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: auto;
    width: 100%;
    margin: 0px;
    padding: 0px;
  }

  li a {
    @include transition(0.15s);
  }

  li a:hover {
    color: base.$srp-blue!important;
  }
}

/*----------------------------------------*\
@media
\*----------------------------------------*/
@media (min-width: 768px) {
  .footer-link-container {
    flex-grow: 1;
    width: initial;
  }
}
