@use '../../styles/base';

.services-item-container {
  display: flex;
  flex-direction: column;
}

#services {
  color: base.$srp-white;
  background-color: base.$srp-black;
}

#logo-design {
  color: base.$srp-black;
  background-color: base.$srp-white;
}

#web-design {
  color: base.$srp-white;
  background-color: base.$srp-black;
}

#web-development {
  color: base.$srp-black;
  background-color: base.$srp-white;
}

#web-hosting {
  color: base.$srp-white;
  background-color: base.$srp-black;
}
