@use '../../styles/base';

.li-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  width: 100%;
}

.li-ring {
  display: inline-block;
  position: relative;
  width: 54px;
  height: 54px;
}

.li-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 44px;
  height: 44px;
  margin: 0px;
  border: 6px solid #ff2058;
  border-radius: 50%;
  animation: li-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: base.$srp-blue transparent transparent transparent;
}

.li-ring div:nth-child(1) {
  animation-delay: -0.3s;
}

.li-ring div:nth-child(2) {
  animation-delay: -0.15s;
}

@keyframes li-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
