// Colours
// --- Primary
$srp-black: #171717;
$srp-white: #ffffff;
$srp-white-bg: #f5f5f5;
$srp-footer-txt-color: #d5d5d5;
$text-secondary-color: rgba(#fff, 0.85);
$srp-greys: (
    100: #dee3ea,
    200: #b2bdce,
    300: #5d7287,
    700: #242c33,
    // 800: #151a24,
    800: #1a1c24,
    // 800: #1e1e1e,
    900: #0b0e13,
);
// --- Accents
$srp-accent-blue: #0080b3;

// Breakpoints Map
$breakpoints: (
    // mobile-small: < 376px [Default]
    mobile: 376px,
    mobile-large: 476px,
    xsmall: 576px,
    small: 768px,
    medium: 992px,
    large: 1200px,
    xlarge: 1576px
);

$mobile: map-get($breakpoints, mobile);

// Buttons
// ---
$button-default: (
    color: $srp-white,
    background-color: map-get($srp-greys, '800'),
);

// General Properties
$rounded: 0.25rem;
$padding-default: 0.5rem 1rem;
$padding-default-sides: 0 1rem;
