@use 'base.scss';
@import './typography/typography.scss';
@import './mixins/userSelect.scss';

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

*,
:after,
:before {
    box-sizing: border-box;
    border: 0 solid #e5e7eb;
}

html {
    font-family: 'Heebo', sans-serif;
    background-color: map-get(base.$srp-greys, 800);
}

body {
    height: auto;
    width: 100%;
    margin: 0;
}

main {
    height: auto;
    width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li {
    line-height: 1.6;
}

p,
li {
    letter-spacing: 1px;
    margin: 0;
    @include font-size($p-font-sizes, base.$breakpoints);
    @include userSelect(none);
}

a {
    text-decoration: none;
    content: inherit;
    @include userSelect(none);
}

a:link,
a:visited,
a:hover {
    color: inherit;
    background-color: transparent;
    text-decoration: none;
}

.mr-auto {
    margin-right: auto;
}

.ml-auto {
    margin-left: auto;
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}
