@use './mixins/_userSelect.scss' as us;

a,
a:link,
a:visited,
a:hover {
    color: inherit;
    background-color: transparent;
    text-decoration: none;
    content: inherit;
    @include us.userSelect(none);
}

@font-face {
    font-family: 'futura';
    src: url('../assets/fonts/futura_boo.woff') format('woff');
}
