@use '../../styles/base';
@import '../../styles/mixins/transition';
@import '../../styles/mixins/transform';

/*----------------------------------------*\
About.scss

ABOUT

- About
- Containers
- Lists
- Icons
- @media
\*----------------------------------------*/

/*----------------------------------------*\
About
\*----------------------------------------*/
#about {
  color: base.$srp-white;
  background-color: base.$srp-black;
}

#about, #info {
  p {
    margin: 0px 0px 30px 0px;
  }
}

/*----------------------------------------*\
Containers
\*----------------------------------------*/
.about-info-container, .info-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
  width: 100%;
  margin: 0px;
  letter-spacing: 1px;
}

.about-list-container, .info-list-container {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
}

.about-icons-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.info-btn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

/*----------------------------------------*\
Lists
\*----------------------------------------*/
.about-list, .info-list {
  height: auto;
  width: 100%;
  margin-bottom: 30px;

  h2 {
    font-size: 1.5em;
    margin-top: 0px;
    margin-bottom: 4px;
  }

  ul {
    font-size: 1em;
    margin-block-start: 0px;
    margin-block-end: 0px;
    padding-inline-start: 20px;
  }
}

/*----------------------------------------*\
Icons
\*----------------------------------------*/
.icon-row {
  display: flex;
  height: auto;
  width: auto;

  a {
    height: 48px;
    width: 48px;
    padding: 0px 5px;
  }

  a div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
    width: inherit;
    border-radius: 50%;
    color: #171717;
    background-color: #fff;
    @include transition(0.2s);
  }

  a div:hover {
    color: base.$srp-blue;
    @include transform(scale(0.95));
  }

  i {
    font-size: 1.5em;
  }
}

/*----------------------------------------*\
@media
\*----------------------------------------*/
@media (min-width: 576px) {
  .about-list-container, .info-list-container {
    flex-direction: row;
    margin-bottom: 30px;
  }

  .about-list, .info-list {
    width: 50%;
    margin-bottom: 0px;
  }

  .icon-row {
    a {
      height: 56px;
      width: 56px;
      padding: 0px 10px;
    }

    i {
      font-size: 1.75em;
    }
  }
}

@media (min-width: 768px) {
  .about-info-container, .info-container {
    flex-direction: row;
  }

  .about-list-container, .info-list-container {
    width: 70%;
    margin-bottom: 0px;
  }

  .about-icons-container {
    width: 30%;
    flex-direction: column;
  }

  .icon-row {
    a {
      height: 64px;
      width: 64px;
      padding: 10px;
    }

    i {
      font-size: 2em;
    }
  }

  .info-btn-container {
    width: 30%;
  }
}

@media (min-width: 1368px) {
  .about-list-container {
    width: 50%;
  }

  .about-icons-container {
    flex-direction: row;
  }
}
