@use '../../styles/base';

$margin-top: 1.125rem;

.about {
    position: relative;
    color: white;

    &__content {
        position: relative;
        padding: 1rem;
        border-radius: 10px;
        backdrop-filter: blur(10px);
        background-color: rgba(0, 0, 0, 0.75);
        box-shadow: 0 0 3px 1px rgb(0 0 0 / 40%), 0 3px 10px 1px rgb(0 0 0 / 60%);

        p {
            margin-top: 0.75rem;

            &:first-of-type {
                margin-top: 0;
            }
        }

        &__lists-container {
            display: flex;
            flex-direction: column;
            height: auto;
            width: 100%;
            margin-top: $margin-top;

            &__list {
                height: auto;
                width: 100%;
                margin-top: $margin-top;

                &:first-child {
                    margin-top: 0;
                }

                ul {
                    display: flex;
                    flex-direction: initial;
                    flex-wrap: wrap;
                    padding-inline-start: 0;
                    list-style-type: none;
                    margin: {
                        top: 5px;
                        bottom: 0;
                        right: 0;
                        left: 0;
                    }

                    li {
                        height: auto;
                        width: 50%;

                        &::before {
                            content: '//';
                            padding-right: 7px;
                        }
                    }
                }
            }
        }

        @media screen and (min-width: 768px) {
            &__lists-container {
                &__list {
                    ul {
                        &.wrap {
                            li {
                                width: 33.333333%;
                                max-width: 33.333333%;
                            }
                        }
                    }
                }
            }
        }

        @media screen and (min-width: 992px) {
            &__lists-container {
                &__list {
                    ul {
                        &.wrap {
                            li {
                                width: 25%;
                                max-width: 25%;
                            }
                        }
                    }
                }
            }
        }
    }
}
