@use '../../styles/base';

.about {
    min-height: 100vh;
    padding-top: 140px;
    color: white;

    &__content {
        &__lists-container {
            display: flex;
            flex-direction: column;
            height: auto;
            width: 100%;
            margin-top: 18px;

            &__list {
                height: auto;
                width: 100%;
                margin-top: 18px;

                &:first-child {
                    margin-top: 0;
                }

                ul {
                    display: flex;
                    flex-direction: initial;
                    flex-wrap: wrap;
                    padding-inline-start: 0;
                    list-style-type: none;
                    margin: {
                        top: 5px;
                        bottom: 0;
                        right: 0;
                        left: 0;
                    }

                    li {
                        height: auto;
                        width: 50%;

                        &::before {
                            content: '//';
                            padding-right: 7px;
                        }
                    }
                }
            }
        }

        &__icons-container {
            position: relative;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            height: auto;
            width: 100%;
            margin-top: 18px;

            .icon-wrapper {
                position: relative;
                display: flex;
                flex-grow: 1;
                justify-content: center;
                align-items: center;
                height: 50px;
                width: 50px;
                margin: {
                    bottom: 5px;
                }
                border-radius: 15px;
                background-color: white;
                font-size: 28px;

                svg {
                    path {
                        fill: map-get(base.$srp-greys, 800);
                    }
                }
            }
        }

        @media screen and (min-width: 768px) {
            &__lists-container {
                &__list {
                    ul {
                        &.wrap {
                            li {
                                width: 33.333333%;
                                max-width: 33.333333%;
                            }
                        }
                    }
                }
            }
        }

        @media screen and (min-width: 992px) {
            &__lists-container {
                &__list {
                    ul {
                        &.wrap {
                            li {
                                width: 25%;
                                max-width: 25%;
                            }
                        }
                    }
                }
            }
        }
    }
}
