@use '../base';

$schemes: (
    light: (),
    dark: (),
);

// Scheme Mixin
@mixin colorScheme() {
    @each $scheme, $map in $schemes {
        .colorScheme--#{$scheme} & {
            $scheme-map: () !global;
            @each $key, $submap in $map {
                $value: map-get(map-get($schemes, $scheme), '#{$key}');
                $scheme-map: map-merge(
                    $scheme-map,
                    (
                        $key: $value,
                    )
                ) !global;
            }
            @content;
            $scheme-map: null !global;
        }
    }
}

// Function
@function scheme($key) {
    @return map-get($scheme-map, $key);
}
