@use '../../styles/base';
@import '../../styles/mixins/transition';

/*----------------------------------------*\
Contact.scss

CONTACT

- Contact
- Containers
\*----------------------------------------*/

/*----------------------------------------*\
Contact
\*----------------------------------------*/
#contact {
  color: base.$srp-white;
  background-color: base.$srp-black;
}

/*----------------------------------------*\
Containers
\*----------------------------------------*/
.contact-container {
  display: flex;
  flex-direction: column;
}
