@use '../../styles/base';
@import '../../styles/mixins/transition';

/*----------------------------------------*\
Contact.scss

CONTACT

- Contact
- Containers
\*----------------------------------------*/

/*----------------------------------------*\
Contact
\*----------------------------------------*/
#contact {
  color: base.$srp-white;
  background-color: base.$srp-black;
}

/*----------------------------------------*\
Containers
\*----------------------------------------*/
.contact-content {
  display: flex;
  flex-direction: column;

  :nth-child(2) {
    margin-top: 0px;
  }

  p {
    margin-top: 30px;
  }
}
